<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<gazebo reference="base_link">
        <material>Gazebo/Green</material>
    </gazebo>

    <gazebo reference="chassis">
        <material>Gazebo/Blue</material>
        <mu1 value="0.001"/>
        <mu2 value="0.001"/>
    </gazebo>

    <gazebo reference="left_wheel_back">
        <material>Gazebo/Orange</material>
        <mu1 value="0.001"/>
        <mu2 value="0.001"/>
    </gazebo>

    <gazebo reference="right_wheel_back">
        <material>Gazebo/Orange</material>
        
    </gazebo>

    <gazebo reference="left_wheel_front">
        <material>Gazebo/Orange</material>
        
    </gazebo>

    <gazebo reference="right_wheel_front">
        <material>Gazebo/Orange</material>
        
    </gazebo>


    <gazebo>
    
        <plugin name="skid_steer_drive_controller" filename="libgazebo_ros_skid_steer_drive.so">
            <updateRate>10.0</updateRate>
            <robotNamespace>/</robotNamespace>
            <leftFrontJoint>left_wheel_joint_front</leftFrontJoint>
            <rightFrontJoint>right_wheel_joint_front</rightFrontJoint>
            <leftRearJoint>left_wheel_joint_back</leftRearJoint>
            <rightRearJoint>right_wheel_joint_back</rightRearJoint>
            <wheelSeparation>0.35</wheelSeparation>
            <wheelDiameter>0.2</wheelDiameter>
            <robotBaseFrame>basic_link</robotBaseFrame>
            <torque>10</torque>

            <topicName>cmd_vel</topicName>
            <odometryTopic>odom</odometryTopic>
            <odometryFrame>odom</odometryFrame>

            <commandTopic>cmd_vel</commandTopic>
            <topic_name_twist>cmd_vel</topic_name_twist>
            <topic_name_odometry>odom</topic_name_odometry>
            <topic_name_joint>joint</topic_name_joint>

            <broadcastTF>true</broadcastTF>

            <covariance_x>0.0001</covariance_x>
            <covariance_y>0.0001</covariance_y>
            <covariance_yaw>0.01</covariance_yaw>

        </plugin>

    </gazebo>
    

    
</robot>
